* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
==================
Fonts
==================
*/
@font-face {
    font-family: "vazir";
    src: url(../fonts/vazir/Vazir-FD-WOL.woff) format(woff),
        url(../fonts/vazir/Vazir-FD-WOL.woff2) format(woff2),
        url(../fonts/vazir/Vazir-FD-WOL.ttf) format(truetype);
}


/* 
==================
Variables
==================
*/
:root {
    --clr-primary: #283618;
    --clr-primary-light: #606C38;
    --clr-second: #BC6C25;
    --clr-second-light: #DDA15E;
    --clr-light: white;
    --ff-primary: "vazir", sans-serif;
    --radius: 0.5rem;
    --transition: all 0.3s linear;
}

body {
    font-family: var(--ff-primary);
    background: var(--clr-light);
    color: var(--clr-primary);
    text-align: right;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.2rem;
}

@media screen and (min-width: 800px) {

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.5rem;
    }  
}

.btn {
    background-color: var(--clr-second);
    color: var(--clr-light);
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--clr-second-light);
    color: var(--clr-primary);
}


/* 
==================
Header
==================
*/
.header {
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/header.jpg) center/cover no-repeat fixed;
}

.banner {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner h1 {
    color: var(--clr-second);
    margin-bottom: 2rem;

}

.banner h2 {
    color: var(--clr-light);
    margin-bottom: 3rem;
}

.btn-banner {
    font-size: 1.25rem;
    outline: 0.125rem solid var(--clr-second);
    outline-offset: 0.25rem;
    padding: 0.5rem 1.75rem;
}